<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205108573197-1b102chcp1uvkodmnfdv7mj2dbl4ni9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205108573197-1b102chcp1uvkodmnfdv7mj2dbl4ni9j</string>
	<key>API_KEY</key>
	<string>AIzaSyBIUQ19f4oDqpBtqjkH6LFkXAgQ1_DCMC8</string>
	<key>GCM_SENDER_ID</key>
	<string>205108573197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBootcamp2023W3</string>
	<key>PROJECT_ID</key>
	<string>flutter-bootcamp-2023-w3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bootcamp-2023-w3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205108573197:ios:d914940d6d8698e7741144</string>
</dict>
</plist>